<html>
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <!-- <head>
        <link rel="icon" href="data:,">
    </head> -->
    <body>
        Hello!
    </body>
    <a>
        <button>Click me!</button>
    </a>

    <!-- 
    lets start with the simplest thing a framework can do: show a variable 
    we will do this using square brackets.
    -->
    <div id="pretty">
        <!-- comments are still being detected as actual code, we have to ignore them
        we need a way to check WHEN to check for brackets -->
        <!-- x is set to {{VAR:x}} -->
        <br>
         fart is {{VAR:fart}}


         <!-- Probably have a qmap for component name to location -->
         {{INSERT:templates/components/greeting.html;name="Victor"}}
         <!-- {{INSERT:templates/components/greeting.html}} -->

         {{INSERT:templates/cool.html}}
        
         <br>
         <img src="images/xqc.gif" alt="xqc" width="100" height="100">

        <!-- FULL IF-ELSEIF-ELSE -->
        {{INSERT:templates/components/displayName.html;name="Victor",age=10,greeting="What is up ladies, "}}

        <!-- ARRAY CHECK -->
        {{INSERT:templates/components/array.html;i=0,array=["hi","hello","whats up"]}}
        <br>
        numbers at 0 is {{VAR:numbers[0]}}
        <br>
        <!-- peak is {{VAR:global.peak}} -->
        <br>
    </div>

</html>